<!-- <app-header></app-header> -->

<!-- <app-user></app-user> -->

<app-header />

<main>
    <ul id="users">
         <!-- Track by user.id to avoid re-rendering of the component. This was released in Angular 7. Older versions used NgFor and NgIf -->
        @for (user of users; track user.id) {
            <li> 
                <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
            </li>
        }
    </ul>

    @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
    } @else {
        <p id="fallback">Select a User to see thier tasks!</p>
    }
    
</main>